# env
venv/
.venv/
env/

# python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# jupyter
.ipynb_checkpoints/

# os
.DS_Store
Thumbs.db

# ide
.idea/
.vscode/
*.swp
*.swo

# misc
*.log
.env
.env.local
Task.md
